<form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
  <div class="Bahia">
    <button type="button" (click)="redirectTo()">Cambiar</button>
    <input id="bahia" formControlName="bahia" placeholder="Nombre de la bahía" />
  </div>
 
  <div>
    <input #vin id="vin" formControlName="vin" placeholder="Escanea el VIN" autofocus />
 
  </div>
  <div>
    <input id="horaEntrada" formControlName="horaEntrada" placeholder="Hora de entrada" />
  </div>
  <div>
    <input id="horaSalida" formControlName="horaSalida" placeholder="Hora de salida" />
  </div>
 
  <button type="button" (click)="onVinScanned()">Escanear VIN</button>
</form>
 