<div>
  <img id="imglogo" src="assets/img/International_Motors_Logo,_October_2024.svg" alt="interlogo"/>
  <h1>PDI</h1>
</div>
<div class="buttons">
  <button class="button" (click)="redirectRegistro('Bahia 1')">Bahia 1</button>
  <button class="button" (click)="redirectRegistro('Bahia 2')">Bahia 2</button>
  <button class="button" (click)="redirectRegistro('Bahia 3')">Bahia 3</button>
  <button class="button" (click)="redirectRegistro('Bahia 4')">Bahia 4</button>
  <button class="button" (click)="redirectRegistro('Bahia 5')">Bahia 5</button>
</div>
